* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

svg {
  fill: #afb1b8;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 31px;
  }
}

.logo__black {
  color: #212121;
}

.logo__white {
  color: #ffffff;
}

.title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 42px;
  }
}

.button {
  display: block;
  color: #ffffff;
  background-color: #2196f3;
  border: 0px;
  border-radius: 4px;
  outline: none;
}

.header {
  background-color: #ffffff;
}

.header .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .header .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }
}

.header-logo {
  display: block;
  padding: 16px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .header-logo {
    padding: 26px 0;
  }
}

.header .nav-wrapper {
  display: none;
}

.header .nav-wrapper.is-open {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  width: 100%;
  padding-bottom: 60px;
  border-top: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header .nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header .nav-wrapper {
    margin-left: 93px;
  }
}

.header .nav-wrapper .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .header .nav-wrapper .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .header .nav-wrapper .header-nav {
    margin-right: 305px;
  }
}

.header .nav-wrapper .header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .header .nav-wrapper .header-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 0;
  }
}

.header .nav-wrapper .header-nav .list-link {
  position: relative;
  display: block;
  margin-bottom: 32px;
  padding: 8px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header .nav-wrapper .header-nav .list-link {
    margin: 0;
    padding: 32px 0;
    font-size: 14px;
    line-height: 16px;
  }
  .header .nav-wrapper .header-nav .list-link:not(:last-child) {
    margin-right: 50px;
  }
}

.header .nav-wrapper .header-nav .list-link_item {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .nav-wrapper .header-nav .list-link_item:hover, .header .nav-wrapper .header-nav .list-link_item:focus {
  color: #2196f3;
}

.header .nav-wrapper .header-nav .list-link_item__static {
  color: #212121;
}

.header .nav-wrapper .header-nav .list-link_item__active {
  color: #2196f3;
}

.header .nav-wrapper .header-nav .list-link_active-item::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header .nav-wrapper .header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-wrapper .header-contacts-link:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header .nav-wrapper .header-contacts {
    padding: 21px 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .header .nav-wrapper .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .nav-wrapper .header-contacts-link:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.header .nav-wrapper .header-contacts .header-contacts-link__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header .nav-wrapper .header-contacts .header-contacts-link__item {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .header .nav-wrapper .header-contacts .header-contacts-link__item {
    font-size: 14px;
    line-height: 16px;
  }
}

.header .nav-wrapper .header-contacts .header-contacts-link__item svg {
  fill: #757575;
  margin-right: 8px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header .nav-wrapper .header-contacts .header-contacts-link__item svg {
    margin-right: 10px;
  }
}

.header .nav-wrapper .header-contacts .header-contacts-link__item:hover p,
.header .nav-wrapper .header-contacts .header-contacts-link__item:focus p,
.header .nav-wrapper .header-contacts .header-contacts-link__item:hover svg,
.header .nav-wrapper .header-contacts .header-contacts-link__item:focus svg {
  color: #2196f3;
  fill: #2196f3;
  outline: none;
}

.header .menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  outline: none;
  background-color: #ffffff;
  border: 0;
}

@media screen and (min-width: 768px) {
  .header .menu-button {
    display: none;
  }
}

.header .menu-button .close {
  display: none;
}

.header .menu-button.is-open .close {
  display: block;
}

.header .menu-button.is-open .open {
  display: none;
}

.header .menu-button svg {
  fill: #212121;
}

.portfolio {
  padding: 60px 0 30px 0;
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding: 60px 0;
  }
}

.portfolio-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .portfolio-navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-navigation__button:not(:last-child) {
  margin-right: 8px;
}

.portfolio-navigation__button .button {
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;
  color: #212121;
  background-color: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-navigation__button .button:hover, .portfolio-navigation__button .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0 3px 6px #afb1b8;
          box-shadow: 0 3px 6px #afb1b8;
  outline: none;
}

.portfolio-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio-table {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-table li {
  margin-bottom: 30px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-table li {
    margin: 15px;
  }
}

.portfolio-table li:hover,
.portfolio-table li a:focus {
  -webkit-box-shadow: 2px 2px 5px #afb1b8;
          box-shadow: 2px 2px 5px #afb1b8;
}

.portfolio-table .position-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-table .description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .portfolio-table .description {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-table .description {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-table .description {
    width: 370px;
  }
}

.portfolio-table .description p {
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
}

.portfolio-table li a:hover .position-wrap .description,
.portfolio-table li a:focus .position-wrap .description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio-table .portfolio-table-item,
.portfolio-table .portfolio-table-item img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .portfolio-table .portfolio-table-item,
  .portfolio-table .portfolio-table-item img {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-table .portfolio-table-item,
  .portfolio-table .portfolio-table-item img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-table .portfolio-table-item,
  .portfolio-table .portfolio-table-item img {
    width: 370px;
  }
}

.portfolio-table .portfolio-table-item-text-blok {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-table .portfolio-table-item-text-blok__title {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio-table .portfolio-table-item-text-blok__text {
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .footer .footer-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer .footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer .footer-logo {
    text-align: start;
  }
}

.footer .contact-wrapper {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer .contact-wrapper {
    margin-right: 204px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .contact-wrapper {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: start;
  }
}

.footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-list li:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 1200px) {
  .footer .footer-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer .footer-list__street {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer .footer-list__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .footer__text {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer .footer__text {
    text-align: start;
  }
}

.footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer .footer-social {
    margin-bottom: 0;
    padding-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-social {
    padding-top: 12px;
    margin-right: 93px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer .footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-social-list_item a {
  display: block;
  border-radius: 50%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .footer-social-list_item a:hover,
.footer .footer-social-list_item a:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer .footer-social ul li svg {
  fill: #ffffff;
}

.footer .footer-social ul li:not(:last-child) {
  margin-right: 10px;
}

.footer .footer-social ul svg {
  display: block;
  width: 20px;
  height: 20px;
}

.footer .footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer .footer-form {
    display: block;
    padding-top: 12px;
  }
}

.footer .footer-button {
  position: relative;
  color: #ffffff;
  background-color: #2196f3;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  padding: 10px 62px 10px 29px;
  margin: 0;
  border: 0px;
  border-radius: 4px;
  outline: none;
}

.footer .footer-button::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/icon_send.svg);
  background-size: contain;
  margin-left: 10px;
}

.footer .footer-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.footer .footer-input::-webkit-input-placeholder {
  text-transform: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
}

.footer .footer-input:-ms-input-placeholder {
  text-transform: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
}

.footer .footer-input::-ms-input-placeholder {
  text-transform: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
}

.footer .footer-input::placeholder {
  text-transform: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
}

@media screen and (min-width: 480px) {
  .footer .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-input {
    margin-right: 12px;
    width: 358px;
    margin-bottom: 0;
  }
}

.footer .footer-label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer .footer-label {
    text-align: start;
  }
}
/*# sourceMappingURL=portfolio.css.map */